#prototype{
	display: none;
}

.colQuantity{
	width: 10%;
	text-align: center;
}
.colAmount{
	width: 10%;
	text-align: center;
}
.colAction{
	width: 10%;
	text-align: center;
}
.colDescription{
	width: 50%;	
	text-align: center;
}

.description{
	width: 95%;
}